
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e5e900;
}

button {
    height: 80px;
    width: 160px;
    border-radius: 20%;
    border: 2px solid rgb(0, 0, 0);
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

#increment {
    color: blue;
}

#decrement {
    color: rgb(255, 1, 1);
}

button:hover {
    cursor: pointer;
    background-color: aqua;
}

#counter, h1, span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 60px;
    
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 20pt;
    padding-top: 10px;
    
}